<% provide(:title, "about") %>
    <h1>About</h1>
   
        <h2>Ruby on Rails ポートフォリオ用アプリケーション</h2>

            <p>これは、榎木康佑によるポートフォリオとして作られたアプリケーションです。</p>
            <br>

        <h2>URL</h2>
            <p></p>
            <br>

        <h2>技術一覧</h2>
            <p>ruby2.7.6</p>
            <p>rails6.0.4</p>
            <p>devise</p>
            <p>mysql</p>
            <p>aws/ec2</p>
            <br>
               
        <h2>開発背景</h2>
            <p>私がこれまで関わっていた土木業界では、同じ地区で行われている工事等の情報を共有される環境がありませんでした。
            そのため、不便が生じることが多いという問題を経験していたため、その問題の解決の一助となれば良いと思い、
            このアプリケーションを作成しました。</p>
            <br>

        <h2>意識したこと</h2>
            <p>土木業者の方達は、インターネットやSNSに詳しくないような方も多いため、直感的に操作できるようなわかりやすさを意識しました。</p>
            <br>

        <h2>機能一覧</h2>
            <p>・deviseによるユーザー登録、編集、退会機能</p>
            <p>・テストログイン機能、</p>
            <p>・レスポンシブ対応</p>
            <p>・文章投稿機能</p>
            <p>・写真投稿機能</p>
            <br>

        <h2>今後の改良計画</h2>
            <p>・カテゴリー別一覧表示</p>
            <p>・位置情報投稿機能</p>
            <p>・メールによる通知機能</p>
            <p>・検索機能</p>
            <br>
                

        
       


      
        

        
        

        
        

        
        

    