<% provide(:title, "index") %>
    <div class="center jumbotron">
        <h1>Construction App</h1>
        <p>トップページです。</p>
            <%= link_to "はじめる!", new_user_registration_path, class: "btn btn-lg btn-primary" %><br>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
        </div>
        
        # <image_tag ("rails.svg", alt: "Rails logo", width: "200px")>